<!doctype html>
<html>

<head>
    <title></title>
</head>

<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>
